﻿@model Exam2.Models.ViewModels.ActivitySearchViewModel

@{
    ViewBag.Title = "活動清單";
    Layout = "_Layout";
}

@using (@Html.BeginForm("Index", "Activity", FormMethod.Get, new {@class="pt-3", enctype = "multipart/form-data", id = "FormPage"}))
{
    <div class="row">
        <div class="col-md-12 stretch-card">
          <div class="card">
            <div class="card-body">
              <p class="card-title">活動清單</p>
              <button type="button" class="btn btn-outline-secondary btn-icon-text" id="InsertSubmit">
                新增
                <i class="mdi mdi-file-check btn-icon-append"></i>                          
              </button>
              <div class="form-group">
                <label>活動名稱</label>
                @Html.TextBoxFor(model => model.ActivityNameCondition, new {@class="form-control", id="ActivityNameCondition"})
              </div>
              <div class="form-group">
                <label>活動日期查詢(起)</label>
                @Html.TextBoxFor(model => model.StartDateCondition, "{0:yyyy-MM-dd}", new {@class="form-control", type="date", id="StartDateCondition"})
              </div>
              <div class="form-group">
                <label>活動日期查詢(訖)</label>
                @Html.TextBoxFor(model => model.EndDateCondition, "{0:yyyy-MM-dd}", new {@class="form-control", type="date", id="EndDateCondition"})
              </div>
              <button type="button" class="btn btn-primary" id="SearchMember">查詢</button>
              <div class="table-responsive">
                <table id="recent-purchases-listing" class="table">
                  <thead>
                    <tr>
                      <th>名稱</th>
                      <th>日期</th>
                      <th>費用</th>
                      <th>參與人數</th>
                      <th>編輯</th>
                    </tr>
                  </thead>
                  <tbody>
                  @if (Model.ActivityLists is not null && Model.ActivityLists.Count > 0)
                  {
                    @foreach (var activity in Model.ActivityLists)
                    {
                      <tr>
                        <td>@activity.Name</td>
                        <td>
                          @activity.StartDate.ToString("yyyy-MM-dd") ~ @activity.EndDate.ToString("yyyy-MM-dd")
                        </td>
                        <td>@activity.Fee</td>
                        <td>@activity.ParticipantNumber</td>
                        <td>
                          <button type="button" class="btn btn-dark btn-icon-text EditSubmit" value="@activity.Id">
                            Edit
                            <i class="mdi mdi-file-check btn-icon-append"></i>
                          </button>
                        </td>
                      </tr>
                    }
                  }
                  else
                  {
                    <tr>
                      <td colspan="5">No Data</td>
                    </tr>
                  }
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
}

<script>
$(function () {
  $("#SearchMember").click(function () {
    window.location = "@Url.Action("Index", "Activity")?activityName="+$("#ActivityNameCondition").val()+"&startDate="+$("#StartDateCondition").val()+"&endDate="+$("#EndDateCondition").val();
  });
  
  $(".EditSubmit").click(function (){
    var id = $(this).val();
    window.location = "@Url.Action("Detail")?id="+id+"&actionType=Edit";
  });
  
  $("#InsertSubmit").click(function (){
      var id = $(this).val();
      window.location = "@Url.Action("Detail")?id=&actionType=Add";
    });
  
  function getFormData($form){
      var unindexed_array = $form.serializeArray();
      var indexed_array = {};
  
      $.map(unindexed_array, function(n, i){
          indexed_array[n['name']] = n['value'];
      });
  
      return indexed_array;
  }
})
</script>

