﻿@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model Exam2.Models.ViewModels.MemberDetailViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    var buttonName = ViewData["actionType"]?.ToString() == "Edit" ? "更新" : "新增";
}

@using (@Html.BeginForm("Detail", "Member", FormMethod.Get, new {@class="pt-3", enctype = "multipart/form-data", id = "FormPage"}))
{
    if (Model.Id != 0)
    {
        @Html.Hidden("Id", Model.Id)
    }
    <div class="form-group">
        <label>姓名</label>
        @Html.TextBox("Name", Model.Name, new {@class = "form-control form-control-lg", placeholder = "請輸入姓名", id = "Name", type = "Name"})
        <span id="NameError" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>性別</label>
        <select class="form-control" asp-items="ViewBag.sexList" id="sex"></select>
        <span id="SexError" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>生日</label>
        @Html.TextBoxFor(model => model.Birthday, "{0:yyyy-MM-dd}", new {@class="form-control", type="date"})
        <span id="BirthdayError" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>身分證字號</label>
        @Html.TextBox("IdentityNumber", Model.IdentityNumber, new { @class="form-control form-control-lg", placeholder="請輸入身分證字號", id = "IdentityNumber"})
        <span id="IdentityNumberError" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>E-mail</label>
        @Html.TextBox("Email", Model.Email, new { @class="form-control form-control-lg", placeholder="請輸入E-mail", id = "Email", type="Email"})
        <span id="EmailError" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>手機</label>
        @Html.TextBox("PhoneNumber", Model.PhoneNumber, new { @class="form-control form-control-lg", placeholder="請輸入手機", id = "PhoneNumber", type="Mobile"})
        <span id="PhoneNumberError" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>通訊地址</label>
        @Html.TextBox("Address", Model.Address, new { @class="form-control form-control-lg", placeholder="請輸入通訊地址", id = "Address", type="address"})
        <span id="AddressError" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>學校</label>
        @Html.TextBox("School", Model.School, new { @class="form-control form-control-lg", placeholder="請輸入學校", id = "School", type="School"})
        <span id="SchoolError" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>科系</label>
        @Html.TextBox("Department", Model.Department, new { @class="form-control form-control-lg", placeholder="請輸入科系", id = "Department", type="Department"})
        <span id="DepartmentError" class="text-danger"></span>
    </div>
    <div class="mt-3">
        <button type="button" class="btn btn-outline-primary btn-icon-text" id="ModifySubmit" value="@ViewData["actionType"]?.ToString()">
          <i class="mdi mdi-file-check btn-icon-prepend"></i>
          @buttonName
        </button>
    </div>
}

<script>
$(function () {
    $("#ModifySubmit").click(function () {
        var action = $(this).val();
        $(".text-danger").text("");
        var postValue = getFormData($("#FormPage"));
        postValue["sex"] = $("#sex").children("option").filter(":selected").val();
        $.ajax({
            url: "/Member/Member" + action,
            type: "POST",
            dataType: "json",
            data: JSON.stringify(postValue),
            contentType: "application/json",
            success: function (data) {
                if (data){
                    alert(action === "Edit" ? "更新成功" : "新增成功");
                    window.location = "@Url.Action("Index")";
                }
            },
            error: function (error){
                $.each(JSON.parse(error.responseText),  function (key, value){
                    $("#"+key+"Error").text(value);
                });
                alert(action === "Edit" ? "更新失敗" : "新增失敗");
            }
        });
    })
  
    function getFormData($form){
      var unindexed_array = $form.serializeArray();
      var indexed_array = {};
    
      $.map(unindexed_array, function(n, i){
          indexed_array[n['name']] = n['value'];
      });
    
      return indexed_array;
    }
})
</script>


