﻿@model Exam2.Models.ViewModels.MemberSearchViewModel

@{
    ViewBag.Title = "member search";
    Layout = "_Layout";
}


@using (@Html.BeginForm("Index", "Member", FormMethod.Get, new {@class="pt-3", enctype = "multipart/form-data", id = "FormPage"}))
{
    <div class="row">
        <div class="col-md-12 stretch-card">
          <div class="card">
            <div class="card-body">
              <p class="card-title">member search</p>
              <button type="button" class="btn btn-outline-secondary btn-icon-text" id="InsertSubmit">
                新增
                <i class="mdi mdi-file-check btn-icon-append"></i>                          
              </button>
              <div class="form-group">
                <label>姓名</label>
                @Html.TextBoxFor(model => model.NameCondition, new {@class="form-control", id="NameCondition"})
              </div>
              <div class="form-group">
                <label>出生年分</label>
                @Html.TextBoxFor(model => model.BirthdayYearCondition, "{0:yyyy}", new {@class="form-control", id="BirthdayYearCondition"})
              </div>
              <button type="button" class="btn btn-primary" id="SearchMember">查詢</button>
              <div class="table-responsive">
                <table id="recent-purchases-listing" class="table">
                  <thead>
                    <tr>
                      <th>姓名</th>
                      <th>年紀</th>
                      <th>手機</th>
                      <th>E-mail</th>
                      <th>編輯</th>
                    </tr>
                  </thead>
                  <tbody>
                  @if (Model.MemberLists is not null && Model.MemberLists.Count > 0)
                  {
                    @foreach (var member in Model.MemberLists)
                    {
                      <tr>
                        <td>@member.Name</td>
                        <td>
                          @{
                            var birthdayYear = DateTime.Now.Year - member.Birthday.Year;
                          }
                          @birthdayYear
                        </td>
                        <td>@member.PhoneNumber</td>
                        <td>@member.Email</td>
                        <td>
                          <button type="button" class="btn btn-dark btn-icon-text EditSubmit" value="@member.Id">
                            Edit
                            <i class="mdi mdi-file-check btn-icon-append"></i>
                          </button>
                        </td>
                      </tr>
                    }
                  }
                  else
                  {
                    <tr>
                      <td colspan="5">No Data</td>
                    </tr>
                  }
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
}

<script>
$(function () {
  $("#SearchMember").click(function () {
    window.location = "@Url.Action("Index", "Member")?nameCondition="+$("#NameCondition").val()+"&birthdayYearCondition="+$("#BirthdayYearCondition").val();
  });
  
  $(".EditSubmit").click(function (){
    var id = $(this).val();
    window.location = "@Url.Action("Detail")?id="+id+"&actionType=Edit";
  });
  
  $("#InsertSubmit").click(function (){
      var id = $(this).val();
      window.location = "@Url.Action("Detail")?id=&actionType=Add";
    });
  
  function getFormData($form){
      var unindexed_array = $form.serializeArray();
      var indexed_array = {};
  
      $.map(unindexed_array, function(n, i){
          indexed_array[n['name']] = n['value'];
      });
  
      return indexed_array;
  }
})
</script>
